.wrap {
    display: flex;
    flex-direction: column;
    padding: 44px 240px 127px 240px;
}

.navPanel {
    display: flex;
    gap: 16px;
    align-items: center;
    font: 400 16px/21px Styrene, sans-serif;
    color: var(--black);
}

.navPanel > a {
    font: 400 16px/21px Styrene, sans-serif;
    color: var(--grey-text);
    text-decoration: none;
}

.wrap > h1 {
    margin-top: 40px;
    font: 500 48px/61px Styrene, sans-serif;
    color: var(--black);
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 38px;
    margin-top: 53px;
}

.clothHeader {
    display: flex;
    justify-content: space-between;
    font: 400 14px/18px Styrene;
    color: var(--grey-text);
}

.sort {
    display: flex;
    gap: 10px;
    align-items: center;
    font: 400 14px/18px Styrene;
    color: var(--grey-text);
}

.sort > button {
    display: flex;
    gap: 5px;
    align-items: center;
    font: 400 14px/18px Styrene;
    color: var(--black);
    border: none;
    background: none;
    cursor: pointer;
    border-bottom: 1px dashed var(--black);
}

.arrowDown {
    transform: rotate(180deg);
}

.clothWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}
